<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <span class="brand-text font-weight-light">IMPORTACIONES SABS</span>
    </a>


      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


         <li class="nav-item menu-open">
            
            <ul class="nav nav-treeview">

              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                  <p>Inicio</p>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Clientes" asp-action="ListadoClientes">
                  <p>Clientes</p>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Proveedors" asp-action="ProvidersList">
                  <p>Proveedores</p>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Usuarios" asp-action="Index">
                  <p>Usuarios</p>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Productoes" asp-action="Index">
                  <p>Productos</p>
                </a>
              </li>
              
            </ul>
          </li>

          
        </ul>
      </nav>

    </div>

  </aside>
