@model WebApplication1.Models.Producto

@{
    ViewData["Title"] = "Create";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.Categorias;
}

<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor_unitario" class="control-label"></label>
                <input asp-for="Valor_unitario" class="form-control" />
                <span asp-validation-for="Valor_unitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iva" class="control-label"></label>
                <input asp-for="Iva" class="form-control" />
                <span asp-validation-for="Iva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_registro" class="control-label"></label>
                <input asp-for="Fecha_registro" class="form-control" />
                <span asp-validation-for="Fecha_registro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
    
                @* Select de categoría desde la tabla de categoría *@
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <div>
                    @Html.DropDownList("Categoria", items, "", new { @class = "form-control" })
                </div>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
