@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Importaciones SABS</h1>
    
</div>

<div class="card">
   
  <img src="https://www.elespectador.com/resizer/CTGFeO87W10VS9yodFnRnZ6Wp4c=/525x350/filters:format(jpeg)/cloudfront-us-east-1.images.arcpublishing.com/elespectador/G4R6G7ZLPJAWZPYKUHYXTP4RVY.jpg" class="card-img-top" alt="..." style="width: 18rem; margin-left: 40%">
  <div class="card-body text-justify">
    <h5 class="card-title">Bienvenido a IMPORTACIONES SABS</h5>
    <br />
    <hr />
    
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dignissim scelerisque tellus, vel porttitor eros commodo vitae. Aliquam at ornare nisl. Nullam tincidunt, nibh vitae interdum elementum, leo massa egestas mi, vel hendrerit dolor arcu sed lectus. Sed iaculis condimentum purus non blandit. Quisque pulvinar dolor vitae turpis lobortis sollicitudin. Duis mattis, lacus ut mollis lobortis, massa felis laoreet augue, vel vulputate nisl felis quis nunc. Cras ex enim, fringilla vitae neque et, lacinia sodales metus. Nunc pulvinar augue ante, sed dapibus felis ultricies consequat. Ut placerat mollis metus. Aenean massa ex, dapibus rhoncus consectetur sed, iaculis eget mauris. Donec placerat odio vel tortor vehicula hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    <p>Maecenas tincidunt semper sapien eget bibendum. Pellentesque placerat et tellus eget feugiat. Suspendisse egestas quis mi eget bibendum. Phasellus nibh ipsum, vulputate vel euismod vel, ultrices et augue. Quisque auctor blandit accumsan. Maecenas maximus lobortis nulla pulvinar convallis. Phasellus sit amet tortor placerat, mattis lectus sit amet, ultricies massa. Integer porttitor ex eu condimentum laoreet. </p>
  </div>
</div>


